<form [formGroup]="registroForm" (ngSubmit)="registroForm.valid && registro()" autocomplete="off"> <!--#registerForm="ngForm" trocou por formGroup]="registroForm"-->
    <h2 class="text-center text-primary">Inscrever-se</h2>
    <hr>
    <div class="mb-3">
        <label style="margin-right:10px">Gênero: </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="masculino" formControlName="genero"> Masculino
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input ms-3" value="feminino" formControlName="genero"> Feminino
        </label>
    </div>
     <app-mensagens-form [formControl]="$any(registroForm.controls['nomeUsuario'])" [label]="'Nome de Usuário'"></app-mensagens-form>
     <app-mensagens-form [formControl]="$any(registroForm.controls['conhecidoComo'])" [label]="'Apelido'"></app-mensagens-form>
     <app-date-picker [formControl]="$any(registroForm.controls['dataNascimento'])" [label]="'Data de Nascimento'" [maxDate]="maxDate"></app-date-picker>
     <app-mensagens-form [formControl]="$any(registroForm.controls['cidade'])" [label]="'Cidade'"></app-mensagens-form>
     <app-mensagens-form [formControl]="$any(registroForm.controls['pais'])" [label]="'País'"></app-mensagens-form>
     <app-mensagens-form [formControl]="$any(registroForm.controls['senha'])" [label]="'Senha'" [type]="'password'"></app-mensagens-form>
     <app-mensagens-form [formControl]="$any(registroForm.controls['confirmarSenha'])" [label]="'Confirmar Senha'" [type]="'password'"></app-mensagens-form>
    
     <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
            {{error}}</li>
        </ul>
    </div>
    
     <div class="text-center">
        <button [disabled]="!registroForm.valid" class="btn btn-success me-2" type="submit">Registro</button>
        <button class="btn btn-default" type="button" (click)="cancelar()">Cancelar</button>
    </div>
</form>

